### Email configuration ###
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_TO=
# EMAIL_CC= 
# EMAIL_BCC= 

### MySQL database configuration ###
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

### OVH configuration ###
OVH_ENDPOINT=
OVH_APPLICATION_KEY=
OVH_APPLICATION_SECRET=
OVH_CONSUMER_KEY=

### SoYouStart configuration ###
SYS_ENDPOINT=
SYS_APPLICATION_KEY=
SYS_APPLICATION_SECRET=
SYS_CONSUMER_KEY=

### Kimsufi configuration ###
KIM_ENDPOINT=
KIM_APPLICATION_KEY=
KIM_APPLICATION_SECRET=
KIM_CONSUMER_KEY=
